
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.button {
     width: fit-content;
     height: 40px;
     padding: 0px 20px;
     background-color: rgb(106, 105, 105);
     color: white;
     border-radius: 5px;
     box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
     text-align: center;
     transition: 0.3s;
     outline: none;
     border: none;
}
.input {
    border: 1px solid rgb(131, 131, 131);
    border-radius: 5px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
    margin: 0px 20px 0px 0px;
    outline: none;
    height: 40px;
    width: 300px;
    padding: 0px 20px ;
}
.button:hover {
    scale: 1.03;
}
.task_text {
    font-size: 15px;
}
.task_crossed {
    text-decoration: line-through;
}
.form {
    display: flex;
    width: 700px;
    padding: 100px 0px 20px 0px;
    justify-content: space-between;
}
.table {
    width: 700px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(106, 105, 105);
    border-radius: 5px;
    color: white;
}
.task {
    display: flex;
    padding: 20px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s;
}
.taskWrap {
    display: flex;
    width: 700px;
}
.id {
    width: 120px;
    text-align: center;
}
.title {
    width: 190px;
    text-align: center;
}
.desc {
    width: 190px;
    text-align: center;
    overflow-x: hidden;
}
.btnDone {
   width: 30px;
   height: 30px;
   font-size: 20px;
   color: green;
   background-color: white;
   outline: none;
   border: 2px solid green;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
.doneTrue {
   width: 30px;
   height: 30px;
   font-size: 20px;
   color: white;
   background-color: green;
   outline: none;
   border: 2px solid green;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
.clearWrap {
    display: flex;
    width: 700px;
    padding: 0px 0px 20px 0px;
    flex-direction: column;
}
.btnWrap {
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalBackground {
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgb(9, 9, 9,0.2);
}
.modal {
    width: 360px;
    padding: 30px 30px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    translate: -50%;
    top: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
p {
    margin: 10px 0px;
}
.modalInfoWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}